.nevbarbtn {
    background-color: aquamarine;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: start;
    gap: 15px;

}

/* .nevbarbtn>button:hover,
.dropdown>button:hover {
  
} */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown:hover .content {
    display: flex;
}

.content {
    display: none;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    margin: auto;
   left: 0;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}